/* ?should we use body/html here */
body {
    background-color: azure;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    /* text-align: center; */
    /* font-family: sans-serif; */
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 4px;
    /* this is not required as we use flex on ul */
    /* float: left; */
}

a {
    background-color: blanchedalmond;
    padding: 6px;
    border-radius: 6px;
    /* if we have display: flex; on ul, this may not be required */
    display: block;
    text-decoration: none;
}

a:hover {
    background-color: gainsboro;
}