/* ?should we use body/html here */
body {
    background-color: azure;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    /* text-align: center; */
    /* font-family: sans-serif; */
}

ul {
    list-style: none;
    padding: 20px 40px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* without this, li gets squished in single line */
    flex-wrap: wrap;
    /* without this there is no space above and below li as margin does not affect inline items */
    gap: 10px;
}

li {
    border-radius: 6px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    /* this is not required as we use flex on ul */
    /* float: left; */
    flex-grow: 1;
}

a {
    background-color: blanchedalmond;
    padding: 8px;
    border-radius: 6px;
    /* if we have display: flex; on ul, this may not be required */
    /* we have this to ensure padding top & bottom is applied */
    display: block;
    text-decoration: none;
}

a:hover {
    background-color: gainsboro;
}

svg {
    color: #c9bbff;
}